body {
  height: 100vh;
  background: #e2e1e1;
}

.App {
  text-align: left;
}

.signup {
  font-size: 1.5em;
  font-weight: bold;
}

.sm-container {
  max-width: 666px;
  max-height: 622px;
  margin-top: 100px;
  padding: 0;
}

.content {
  padding: 100px;
  background: white;
}

.line {
  border: 1px solid #e2e1e1;
  margin-top: 1.5rem;
}

.btn {
  height: 38px;
  width: 120px;
}

.w-58 {
  width: 58%;
}

.btn-c-black {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.btn-c-black:hover {
 color: white;
}

.btn-c-white {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.float-r {
  float: right;
  margin-top: 22px;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0,100px);
}

.modal-content {
  height: 250px;
}

.m-header {
  justify-content: center;
  border: none;
  height: 50%;
}

.m-header > button {
  display: none;
}

.m-header > h5 {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.m-footer {
  justify-content: center;
  border: none;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group-text {
  background-color: white;
}

.product-quantity {
  border-left: none;
}

.input-group > .form-group {
  height: 20px;
  width: 92%;
}